header,
footer {
    color: #04396C;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
header>h1 {
    font-family: 'Homemade Apple', cursive;
	font-size: 30pt;
	height: 70px;
}
body {
    font-family: 'Merriweather', serif;
    background-color: #B3CEE8;
}
h2,
h1 {
    margin: 0px;

}
li {
    display: inline;
}
li > img {
    height: 225px;
    width: 180px;
    margin-right: 35px;

}
.computerSpace >.hand> li > img {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.deck > img {
    height: 230px;
    width: 180px;
    margin-left: 35px;
    margin-top: 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.deck>h2 {
    margin-top: 25px;
    margin-left: 100px;
    color: #B6B6B6;
}
.deck {
    float: left;
    width: 50%;
    margin-right: 0px;
}
.deckSize>h3 {
    margin-left: 70px;
    color: #B6B6B6;
}
ul.UK {
    margin-top: 0px;
    margin-bottom: 0px;
}
.unknown>h3 {
    margin-left: 28px;
    margin-bottom: 0px;
    color: #B6B6B6;
}
.unknown {
    float: right;
    width: 50%;
    margin-left: 0px;
    padding-top: 10px;
}
.table {
    height: 375px;
    width: 525px;
    margin-top: 0px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #04396C;
    float: right;
}
.UK {
    margin-top: 0px;
    padding-left: 0px;
}
.card > header {
    font-size: 26px;
    color: #212121;
    border-bottom: 1px solid #000;
    display: block;
    height: 33px;
    padding: 5px 0;
}
.UKcard > header {
    font-size: 15px;
    color: #212121;
    border-bottom: 1px solid #000;
    width: 100%;
    display: inline-block;
    margin-top: 4px;
    height: 25px;
}
.card {
    background-image: url("texture_paper.jpg");
    position: relative;
    height: 230px;
    width: 180px;
    float: left;
    margin-right: 40px;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.UKcard {
    background-image: url("texture_paper.jpg");
    position: relative;
    margin-top: 25px;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 12px;
    text-align: left;
    margin-left: 0px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.card > p {
    padding-left: 3px;
    padding-right: 3px;
    color: #212121;
    margin-top: 2px;
    font-size: 10pt;
    position: relative;
    text-align: center;
}
.card > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 100px;
}
.UKcard > img {
    display: block;
    margin-left: auto;
    margin-top: 3px;
    margin-right: auto;
    height: 63px;
    width: 60px;
}
.card > h4 {
    float: left;
    height: 43px;
    width: 20px;
    border-right: 1px solid #000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    color: #212121;
    font-size: 2em;
    display: block;
}
.computerSpace {
    height: 375px;
    width: 525px;
    margin: 0 auto;
    margin-left: 35px;
    margin-top: 0px;
    display: inline-block;
    background-color: #26527C;
    padding-right: 5px;
}
.hand {
    height: 245px;
    width: 455px;
    margin: 0px;
    margin-bottom: 0px;
}
.guesses{
    height: 460px;
    width: 220px;
    text-align: center;
    padding: 40px;
	background-color: #B3CEE8;
	font-family: 'Merriweather', serif;
}
.princePick{
    height: 180px;
    width: 200px;
    text-align: center;
    padding: 35px;
	background-color: #B3CEE8;
	font-family: 'Merriweather', serif;
}
.userSpace {
    height: 375px;
    width: 525px;
    margin: 0 auto;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: #901326;
    /* http://www.color-hex.com/color/4c0a14 */
    /*background-color: #D32F2F; */
    float: left;
    padding-right: 5px;
}
.referenceCard {
    display: inline;
}
.selected {
    border: 3px solid #0f0;
    font-weight: 500;
}
.referenceCard>img {
	height: 375px;
    width: 240px;
    margin: 0 auto;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.tokens>li>img {
    float: left;
    height: 45px;
    width: 50px;
    margin: 3px;
}
ul.tokens {
    margin: 0px;
}
.PlayedCards {
    position: relative;
    float: right;
    top: 0;
    margin-bottom: 5px;
	margin-right: 10px;
    overflow: hidden;
}
.justPlayed {
    float: top;
    background-image: url("texture_paper.jpg");
    margin-left: 10px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    width: 30px;
    border: 1px solid #000;
    color: #212121;
    font-size: 2em;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.computerSpace>.hand,
.userSpace>.hand {
    margin-top: 65px;
	margin-right: 0px;
}
.active{
  background: #04396C;
  background-image: -webkit-linear-gradient(top, #04396C, #104a80);
  background-image: -moz-linear-gradient(top, #04396C, #104a80);
  background-image: -ms-linear-gradient(top, #04396C, #104a80);
  background-image: -o-linear-gradient(top, #04396C, #104a80);
  background-image: linear-gradient(to bottom, #04396C, #104a80);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #c7c3c7;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.active:hover {
  background: #165999;
  text-decoration: none;
}
.card:hover {
    border-right: 5px solid #000;
}
#wrapper {
    padding-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0px;
    height: 820px;
    width: 1160px;
}

button {
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: 'Merriweather', serif;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
    outline: none;
    padding: 25px 0;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    width: 200px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.menu{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
}
.handmaid{
	top: -45%;
	margin-right: 100px;
	float: right;
	position: relative;
	display: inline;
	
}
i.fa.fa-shield {
	font-size: 120;
	color: #B6B6B6;
	display: inline;
	
}
.fa{
	font-size: 32px;
}
.dd{
    right: 10px;
    top: 24px;
	position: absolute;
	height: 80px;
	width: 125px;
	background-color: #26527C;
}
.dd > h4 {
	color: #B6B6B6;
	margin: 10px;
}
a {
	font-size: 20px;
	margin: 5px;
	color: #B6B6B6;
	font-family: 'Merriweather', serif;
}

/* user menu settings */
/*http://blog.teamtreehouse.com/stylish-custom-user-settings-dropdown-menu-with-css */
#dropdown { 
  display: block;
  padding: 13px 16px;
  width: 266px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  background: #fff;
  font-size: 1.55em;
  color: #656565;
  font-weight: normal;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
#dropdown:hover { color: #898989; }

#dropdown.open {
  background-color: #B3CEE8;
  border-left: 4px solid #26527C;
  color: #B6B6B6;
}
#dropdown {
	width: 100px;
	background: #B3CEE8;
}
#dropdown ul { 
background: #26527C;
  position: absolute;
  top: 100%;
  left: -4px; /* move content -4px because of container left border */
  /*width: 266px;*/
  padding: 5px 0px;
  display: none;

}
#dropdown ul li { font-size: 0.3em; }

#dropdown ul li a { 
  text-decoration: none;
  display: block;
  color:  #B6B6B6;
  padding: 7px 15px;
}
#dropdown ul li a:hover {
  color: #6fa0e9;
  background: #26527C;
}
.